#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# config for a quad
# modified from ../rpi/px4.config

param select parameters.bson
param import

param set CBRK_SUPPLY_CHK 894281

# Auto-start script index. Defines the auto-start script used to bootstrap the system.
# It seems that SYS_AUTOSTART does not work as intended on posix platform.
# For now, find the corresponding settings, and manually set them in ground control.
#
# Generic multirotor
param set SYS_AUTOCONFIG 0
# 4001: Generic Quadrotor X;
param set SYS_AUTOSTART 4050

# Broadcast heartbeats on local network. This allows a ground control station
# to automatically find the drone on the local network.

#FLT Modes
param set COM_FLTMODE1 0
param set COM_FLTMODE2 0
param set COM_FLTMODE3 0
param set COM_FLTMODE4 0
param set COM_FLTMODE5 0
param set COM_FLTMODE6 0

# MAV_TYPE: 1 Fixed wing aircraft, 2 Quadrotor
param set MAV_TYPE 2

# Three possible main power battery sources for BBBlue:
# 1. onboard 2S LiPo battery connector, which is connect to ADC channel 6
# 2. onboard 9-18V DC Jack, which is connect to ADC channel 5. This is the board default.
# 3. other power source (e.g., LiPo battery more than 4S/18V).
#    Scale the voltage to below 1.8V and connect it to ADC channel # 0, 1, 2 or 3.
param set BAT1_V_CHANNEL 	5

# Battery voltage scale factor, from BBBlue schematics: (4.7K + 47K) / 4.7K = 11
param set BAT1_V_DIV 		11.0

param set CA_ROTOR0_PX 0.0745
param set CA_ROTOR0_PY 0.0745
param set CA_ROTOR1_PX -0.0745
param set CA_ROTOR1_PY -0.0745
param set CA_ROTOR2_PX 0.0745
param set CA_ROTOR2_PY -0.0745
param set CA_ROTOR3_PX -0.0745
param set CA_ROTOR3_PY 0.0745

# Disable gyro FFT
param set IMU_GYRO_FFT_EN 0
# Disable gyro cal
param set IMU_GYRO_CAL_EN 0

# Limit gyro rate
param set-default IMU_GYRO_RATEMAX 400

dataman start

load_mon start

bmp280 -I start

# options:  -R rotation
if mpu9250_i2c -I start -a 0x68; then
	sleep 1
	ak8963 -I start -a 0x0c
fi

pmw3901 start -s
vl53l1x -X start

board_adc start
battery_status start

rc_update start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter

mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start
manual_control start

mavlink start -n SoftAp -x -u 14556 -m config -p
# -n name of wifi interface: SoftAp, wlan or your custom interface,
# e.g., -n SoftAp . The default is wlan

mavlink stream -u 14556 -s HIGHRES_IMU -r 10
mavlink stream -u 14556 -s ATTITUDE -r 10
mavlink stream -u 14556 -s ATTITUDE_QUATERNION -r 10
mavlink stream -u 14556 -s OPTICAL_FLOW_RAD -r 10
mavlink stream -u 14556 -s RC_CHANNELS -r 50

sleep 1

# RC port is mapped to /dev/ttyS4 (auto-detected)
rc_input start -d /dev/ttyS4

control_allocator start
linux_pwm_out start
mixer load /dev/pwm_out etc/mixers/quad_x.main.mix

logger start -t -b 200

mavlink boot_complete
